
body{
    padding: 1em;
}
.top-margin{
    margin-top: 1em;
}

.add-margin{
    margin-left: 1em;
}
/* background for carousel */
.content-wrapper{
    background-color:lightblue;
    margin: 1em;
    padding: 0.5em;
}
.entry-title, p{
    color: black;
}
.hide-thumb {
    display: none;
  }
  
  @media screen and (min-width: 600px) {
  .hide-thumb {
      display: block;
    }
  
}

  .post-categories{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
  }
  .add-padding{
padding: 1em
  }
.search-form-container{
    margin-top:0.5em;
    margin-bottom: 0.5em;
    width: 50%;
}
/* footer menu*/
.menu{
    list-style-type: none;
    background-color: white;
    padding: 0.5em;
    margin: 1em;
    width: 50%;
}
.footer{
    margin-top: 1em;
    background-color: lightblue;
}
.post-links{
    margin-left: 10em;
}
.search-header{
    padding: 0.5em;
}
.search-wrap{
    float: right;
}

.single-product {
background-color: aqua;
color: red;
width: 100%;
}

 /* grid styling =========================================================*/
 .blog-element { display: block; 
    Border-top: solid 0.5em white;
    height: 200px; 
    overflow: hidden; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; }

 .blog-element a { color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,.5) }
 
 .second-row-padding:nth-child(2) { padding-right: 0; }
 .second-row-padding:nth-child(3) { padding-left: 0; }
 
 .third-row-padding { padding: 0; }
 .third-row-padding:nth-child(4) { padding-left: 15px; }
 .third-row-padding:nth-child(6) { padding-right: 15px; }


 /* mobile fixes for grid =========================================================*/

 @media screen and (max-width: 600px) {
    .second-row-padding:nth-child(2){
        padding-right: 15px;
      }
      .second-row-padding:nth-child(3){
        padding-left: 15px;
      }
    
  }
  